.trends {
  background: rgba(255, 255, 255, 0.1);
  width: 350px;
  border-radius: 10px;
  color: #f5f5f5;
  padding: 20px 15px;
  .trendItem {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    font-size: 13px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.3);
    .title {
      color: #f5f5f5;
      font-size: 18px;
      margin: 3px 0;
    }
    .options {
      font-size: 20px;
      color: rgba(255, 255, 255, 0.3);
      &::before,
      &::after {
        content: ".";
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }
  .more {
    color: rgb(29, 155, 240);
    font-size: 15px;
    line-height: 20px;
  }
}
