.follows {
  height: 316px;
  width: 348px;
  background: rgba(255, 255, 255, 0.1);
  color: #f5f5f5;
  margin: 20px 0;
  border-radius: 10px;
  padding: 20px 0 0;
  h3 {
    margin-left: 20px;
  }
  .follow {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .user {
      p {
        &:nth-last-child(1) {
          color: rgba(255, 255, 255, 0.3);
          font-size: 14px;
        }
      }
    }
    .btn {
      background-color: #f5f5f5;
      color: rgb(15, 20, 25);
      padding: 7px 20px;
      border-radius: 20px;
    }
  }
  .more {
    color: rgb(29, 155, 240);
    font-size: 15px;
    line-height: 20px;
    margin: 0 20px;
  }
}
