.form {
  background: rgba(255, 255, 255, 0.2);
  height: 44px;
  width: 350px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 20px;
  color: #8e8e8e;
  margin: 10px 0;
  .search {
    color: #8e8e8e;
    width: 100%;
    margin-left: 10px;
  }
}
